<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".SchoolMateApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolMate"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">

        <meta-data
            android:name="MAPQUEST_MAPID"
            android:value="mapbox.satellite" />

        <meta-data
            android:name="MAPQUEST_ACCESS_TOKEN"
            android:value="EKMpqeOlj0j6sz19ugjC8H4ORII1V57w" />

        <activity
            android:name=".shared.ui.MapSelectorActivity"
            android:exported="false"
            android:theme="@style/Theme.SchoolMate.Navigation"/>
        <activity
            android:name=".schoolnavigation.ui.SchoolZonesActivity"
            android:exported="false"
            android:label="@string/school_zones_title" />
        <activity
            android:name=".users.ui.UserDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.SchoolMate.NoActionBar" />
        <activity
            android:name=".users.ui.UsersActivity"
            android:exported="false"
            android:label="@string/users_title"
            android:parentActivityName=".home.ui.HomeActivity" />
        <activity
            android:name=".auth.ui.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.SchoolMate.NoActionBar" />
        <activity
            android:name=".documents.ui.DocumentScannerActivity"
            android:exported="false"
            android:label="@string/label_document_scanner_activity" />
        <activity
            android:name=".documents.ui.DocumentEditorActivity"
            android:exported="false"
            android:label="@string/action_upload_document" />
        <activity
            android:name=".documents.ui.DocumentsActivity"
            android:exported="false"
            android:label="@string/documents_title"
            android:parentActivityName=".home.ui.HomeActivity"
            android:theme="@style/Theme.SchoolMate.NoActionBar" />
        <activity
            android:name=".alerts.ui.AlertActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.SchoolMate.NoActionBar" />
        <activity
            android:name=".auth.ui.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SchoolMate.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".schoolnavigation.ui.SchoolNavigationActivity"
            android:exported="false"
            android:label="@string/school_navigation_title"
            android:theme="@style/Theme.SchoolMate.Navigation" />
    </application>

</manifest>